---
import ArticlesList from '@/components/ArticlesList.astro'
import Title from '@/components/Title.astro'
import { getLangFromUrl, useTranslations } from '@/js/utils'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const allArticles = await getCollection(
  'articles',
  ({ id, data }) => id.startsWith(`${lang}/`) && !data.draft
)

const articlesSortedByDate = allArticles.sort(
  (a, b) => +new Date(b.data.date) - +new Date(a.data.date)
)
---

<Layout title={t('articles.seo.title')}>
  <div>
    <Title as="h1">{t('articles.title')}</Title>

    <p>{t('articles.desc')}</p>
  </div>

  <ArticlesList data={articlesSortedByDate} />
</Layout>
