---
import Layout from "@/layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "@/js/utils";
import Header from "@/components/Header.astro";
import Title from "@/components/Title.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("404.title")}>
  <Header />

  <div class="container">
    <Title as="h1">{t("404.message")}</Title>

    <a href={lang === "pt-br" ? `/${lang}` : "/"}>{t("404.link")}</a>
  </div>
</Layout>

<script>
  console.log(window.location.pathname);
</script>

<style>
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: var(--spacing-192) 0;

    & a {
      width: max-content;
    }
  }
</style>
