---
import Layout from '@/layouts/Layout.astro'
import Title from '@/components/Title.astro'
---

<Layout>
  <div class="container">
    <Title data-lang="message" heading="h1" />

    <a data-lang="hyperlink"></a>
  </div>
</Layout>

<script>
  import {
    getLangFromUrl,
    l,
    normalizeLangTag,
    useTranslations,
  } from '@/js/utils'

  const url = new URL(window.location as unknown as string)
  const lang = getLangFromUrl(url)
  const t = useTranslations(lang)

  const title = document.querySelector('[data-lang="message"]')!
  const hyperlink = document.querySelector('[data-lang="hyperlink"]')!
  const ptSwitcher = document.querySelector('[data-lang="pt-switcher"]')!
  const enSwitcher = document.querySelector('[data-lang="en-switcher"]')!
  const home = document.querySelector('[data-lang="home"]')!
  const articles = document.querySelector('[data-lang="articles"]')!

  document.documentElement.lang = normalizeLangTag(lang)
  document.title = t('404.title')
  title.textContent = t('404.message')
  hyperlink.textContent = t('404.hyperlink')
  articles.textContent = t('nav.articles')

  ptSwitcher.setAttribute('href', l(url, 'pt-br'))
  enSwitcher.setAttribute('href', l(url, 'en'))

  ptSwitcher.classList.remove('active')
  enSwitcher.classList.remove('active')

  if (lang === 'en') {
    enSwitcher.classList.add('active')
  } else {
    ptSwitcher.classList.add('active')
  }

  articles.setAttribute(
    'href',
    lang === 'en' ? '/articles' : `/${lang}/articles`
  )
  home.setAttribute('href', lang === 'en' ? '/' : `/${lang}`)
  hyperlink.setAttribute('href', lang === 'en' ? '/' : `/${lang}`)
</script>

<style>
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    & a {
      width: max-content;
    }
  }
</style>
