---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Title from "@/components/Title.astro";
---

<Layout>
  <Header />

  <div class="container">
    <Title data-lang="title" as="h1" />

    <a data-lang="link"></a>
  </div>
</Layout>

<script>
  import { getLangFromUrl, useTranslations } from "@/js/utils";

  const lang = getLangFromUrl(new URL(window.location as unknown as string));
  const t = useTranslations(lang);

  const pageTitle = document.querySelector("title")!;
  const title = document.querySelector('[data-lang="title"]')!;
  const link = document.querySelector('[data-lang="link"]')!;

  pageTitle.textContent = t("404.title");
  title.textContent = t("404.message");
  link.textContent = t("404.link");

  link.setAttribute("href", lang === "en" ? "/" : `/${lang}`);
</script>

<style>
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: var(--spacing-192) 0;

    & a {
      width: max-content;
    }
  }
</style>
