---
import Header from '@/components/Header.astro'
import Layout from '@/layouts/Layout.astro'
import Title from '@/components/Title.astro'
---

<Layout title="Matheus Almeida &nbsp;–&nbsp; Front-End Developer">
  <Header />

  <main class="content-wrapper">
    <section>
      <h2 class="hero-title lowercase-title">Matheus Almeida</h2>

      <div class="hero-desc">
        <p>I'm a front-end developer based in Manaus, Brazil. I'm interested in clean code, simple/usable design and creative coding.</p>

        <p>I'm currently looking for new opportunities to grow as a developer.</p>

        <p>Previously, I worked at <a href="#">Desenrolado</a>, where I built 18 interactive activities for school children. Before that, I worked at <a href="#">Kolabs</a>, built the company's landing page and led their UI development projects.</p>
      </div>
    </section>

    <section>
      <Title as="h2">Experience</Title>

      <ul role="list" class="experience-list">
        <li class="experience-list__item">
          <div class="experience-list__content">
            <small>may 2022 - april 2023</small>

            <h4>Font-end developer @ <a href="#">Desenrolado</a></h4>
          </div>
        </li>
        <li class="experience-list__item">
          <div class="experience-list__content">
            <small>jan 2022 - nov 2022</small>

            <h4>Font-end developer @ <a href="#">Kolabs</a></h4>
          </div>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6em;
    padding: var(--spacing-96) 1em;
    width: min(90vw, var(--spacing-content));
    margin-inline: auto;
  }

  .hero-title {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-20);
    line-height: var(--line-height-md);
    margin-bottom: 2.2em;
  }

  .hero-desc {
    & p:not(:last-child) {
      margin-bottom: 2em;
    }
  }

  .experience-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .experience-list__item {
    list-style: none;
  }

  .experience-list__content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-family: var(--font-family-secondary);

    & small {
      color: var(--gray);
      font-size: var(--font-size-14);
      line-height: var(--line-height-md);
      font-weight: 700;
    }

    & h4 {
      font-size: var(--font-size-20);
      line-height: var(--line-height-sm);
    }
  }
</style>
