---
import Header from '@/components/Header.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Matheus Almeida &nbsp;–&nbsp; Front-End Developer">
  <Header />

  <main class="content-wrapper">
    <section class="hero">
      <h2 class="hero__title">Matheus Almeida</h2>

      <div class="hero__desc">
        <p>I'm a front-end developer based in Manaus, Brazil. I'm interested in clean code, simple/usable design and creative coding.</p>

        <p>I'm currently looking for new opportunities to grow as a developer.</p>

        <p>Previously, I worked at <a href="#">Desenrolado</a>, where I built 18 interactive activities for school children. Before that, I worked at <a href="#">Kolabs</a>, built the company's landing page and led their UI development projects.</p>
      </div>
    </section>

    <section class="experience">
      <h3 class="experience__title lowercase-title">Experience</h3>

      <ul role="list" class="experience__list">
        <li class="experience__item">
          <div>
            <small>may 2022 - april 2023</small>

            <h4>Font-end developer @ Desenrolado</h4>
          </div>
        </li>
        <li class="experience__item">
          <div>
            <small>jan 2022 - nov 2022</small>

            <h4>Font-end developer @ Kolabs</h4>
          </div>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6em;
    padding: max(min(6rem, calc((100% - 22.5rem) / 8)), 2.75rem) 0;
    width: min(90vw, 41.5625em);
    margin-inline: auto;
  }

  .hero__title {
    font-family: var(--font-family-secondary);
    text-transform: lowercase;
    font-size: var(--font-size-20);
    line-height: var(--line-height-md);
    margin-bottom: 2.2em;
  }

  .hero__desc {
    & p:not(:last-child) {
      margin-bottom: 2em;
    }
  }

  .experience__title {
    font-size: var(--font-size-32);
    line-height: var(--line-height-md);
    margin-bottom: 1.375em;
  }
</style>
