---
import Title from '@/components/Title.astro'
import { Image } from '@astrojs/image/components'
import { getLangFromUrl, useTranslations, formatDate } from '@/js/utils'
import { projects } from '@/js/data'

const projectsSortedByDate = projects.sort(
  (a, b) => +new Date(b.date) - +new Date(a.date)
)

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section aria-label="About section">
  <Title as="h2" size="sm">Matheus Almeida 👋</Title>

  <div class="hero-desc" aria-label="Resume">
    <p>{t('about.para.first')}</p>

    <p>{t('about.para.second')}</p>

    <p set:html={t('about.para.third')} />
  </div>
</section>

<section aria-label="Experience section">
  <Title as="h3">{t('experience.title')}</Title>

  <ul role="list" class="experience-list">
    <li class="experience-list__item">
      <div class="experience-list__content">
        <small
          >{formatDate(new Date('may 2022'), lang)} - {
            formatDate(new Date('april 2023'), lang)
          }</small
        >

        <h4>
          {t('experience.role')} @ <a
            href="https://desenrolado.com/"
            target="_blank">Desenrolado</a
          >
        </h4>
      </div>
    </li>
    <li class="experience-list__item">
      <div class="experience-list__content">
        <small
          >{formatDate(new Date('jan 2022'), lang)} - {
            formatDate(new Date('nov 2022'), lang)
          }</small
        >

        <h4>
          {t('experience.role')} @ <a
            href="https://www.kolabs.us/en"
            target="_blank">Kolabs</a
          >
        </h4>
      </div>
    </li>
  </ul>
</section>

<section aria-label="Projects section">
  <Title as="h3">{t('projects.title')}</Title>

  <ul role="list" class="projects-list">
    {
      projectsSortedByDate.map((project) => (
        <li class="projects-list__item">
          <a href={project.path} class="projects-list__content" target="_blank">
            <Image
              src={project.image}
              alt={project.alt}
              width={107}
              height={80}
              fit="cover"
              position="left"
              quality={100}
            />

            <h4>{project.title}</h4>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<section class="endorsement">
  <blockquote aria-label="endorsement">
    <p>
      {t('endorsement.text')}
    </p>

    <cite>– Helder Lobo, {t('endorsement.role')}</cite>
  </blockquote>
</section>

<style>
  .hero-desc {
    & p:not(:last-child) {
      margin-bottom: 2em;
    }
  }

  .experience-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .experience-list__item,
  .projects-list__item {
    list-style: none;
  }

  .experience-list__content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    & small {
      font-family: var(--font-family-secondary);
      color: var(--secondary-text-color);
      font-size: var(--font-size-14);
      line-height: var(--line-height-md);
      font-weight: 700;
      text-transform: lowercase;
    }

    & h4 {
      font-weight: 500;
      font-family: var(--font-family-primary);
      font-size: var(--font-size-20);
      line-height: var(--line-height-sm);
    }
  }

  .projects-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2.75em;

    & a {
      text-decoration: none;
    }
  }

  .projects-list__content {
    display: flex;
    gap: 1.5em;
    align-items: center;
    width: max-content;

    & img {
      border-radius: var(--border-radius-sm);
      border: 1px solid var(--gray);
    }

    & h4 {
      font-size: var(--font-size-20);
      line-height: var(--line-height-md);
      font-family: var(--font-family-primary);
      font-weight: 500;
    }
  }

  .endorsement {
    margin-bottom: calc(var(--spacing-192) - var(--spacing-96));

    & blockquote {
      display: flex;
      flex-direction: column;
      gap: 1em;

      & p {
        font-size: var(--font-size-16);
      }
    }

    & cite {
      font-size: var(--font-size-14);
      line-height: var(--line-height-md);
      color: var(--secondary-text-color);
      font-family: var(--font-family-secondary);
      text-transform: lowercase;
      font-style: normal;
      font-weight: 700;
    }
  }
</style>
