---
import Title from '@/components/Title.astro'
import { formatDate, getLangFromUrl } from '@/js/utils'

type Props = {
  data: {
    title: string
    date: Date
  }
}

const { data } = Astro.props
const lang = getLangFromUrl(Astro.url)
---

<div class="article">
  <header>
    <time class="article__date"
      >{
        formatDate(data.date, lang, {
          day: 'numeric',
          month: 'long',
          year: 'numeric',
        })
      }</time
    >

    <Title as="h2">{data.title}</Title>
  </header>

  <slot />
</div>

<style>
  .article__date {
    color: var(--secondary-text-color);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-14);
    text-transform: lowercase;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5em;
  }
</style>
