---
import DateComponent from '@/components/DateComponent.astro'
import Title from '@/components/Title.astro'

type Props = {
  data: {
    title: string
    date: Date
  }
}

const { data } = Astro.props
---

<div class="article-content">
  <header>
    <DateComponent date={data.date} />

    <Title heading="h2">{data.title}</Title>
  </header>

  <slot />
</div>

<style is:global>
  .article-content {
    & p {
      margin: 1.5em 0;
    }

    & h3 {
      font-family: var(--font-family-secondary);
      text-transform: lowercase;
      font-size: var(--font-size-20);
      line-height: var(--line-height-md);
      margin: 2.2em 0;
    }

    & pre {
      padding: 1em;
      border-radius: 3px;
      display: grid;
      overflow-x: auto;
    }

    & pre > code {
      display: grid;
    }

    & p > span > code {
      padding: 3px;
      border-radius: 3px;
    }

    & pre > code,
    & p > span > code {
      font-family: var(--font-family-mono);
    }
  }
</style>
