---
import Date from '@/components/Date.astro'
import Title from '@/components/Title.astro'

type Props = {
  data: {
    title: string
    date: Date
  }
}

const { data } = Astro.props
---

<div class="article">
  <header>
    <Date date={data.date} />

    <Title as="h2">{data.title}</Title>
  </header>

  <slot />
</div>
