.work__article {
  display: grid;
  row-gap: 2em;
  margin: 0;
  padding: 0;
}

.article__title {
  display: grid;
  row-gap: 1em;
  list-style: none;
  margin: 0;
}

.article__title span {
  color: #717171;
}

.article__link {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: #212121;
}

.post {
  max-width: 33em;
  margin: 0 auto;
}

.post__title {
  font-size: 2.4rem;
  margin: 0;
}

.post__date {
  font-size: 1rem;
  font-weight: 400;
  color: #717171;
}

.post__desc {
  font-size: 1.4rem;
  margin-bottom: 2em;
}