*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2F2F2F;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  min-height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: [left-gutter] 1em [content] 10fr [right-gutter] 1em;
  padding: 2em 0;
}

.header__wrapper {
  grid-area: content;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.header__logo {
  justify-self: start;
  line-height: 0;
  margin: 0;
}

.header__nav {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 1em;
  justify-self: end;
  align-items: center;
}

.nav-item {
  color: #2F2F2F;
  font-size: 0.875rem;
  text-decoration: none;
}

.site-button {
  display: grid;
  height: 37px;
  font-size: 0.875rem;
  align-items: center;
  text-decoration: none;
  color: #FFF;
  background: #2F2F2F;
  padding: 0 1em;
  border-radius: 4px;
}

main {
  display: grid;
  grid-template-columns: [left-gutter] 1em [content] 10fr [right-gutter] 1em;
  padding: 5em 0;
}

.main__wrapper {
  grid-area: content;
}

.profile {
  display: grid;
  grid-template-areas:
    'name'
    'about'
    'button';
  grid-gap: 1.3em 2em;
}

.profile__name {
  grid-area: name;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
}

.profile__about {
  font-size: 1rem;
  line-height: 1.5em;
  grid-area: about;
  margin: 0;
  font-weight: 400;
  max-width: 33em;
  hyphens: auto;
  word-break: break-word;
  font-family: 'Roboto Slab', serif;
}

.profile__button {
  width: 135px;
  grid-area: button;
  background: #FFF;
  font-size: 1rem;
  border: 1px solid #2F2F2F;
  padding: 1em;
  border-radius: 2px;
  color: #2F2F2F;
  text-transform: ;
  text-decoration: none;
}

.profile__arrow {
  font-size: 0.4375rem;
  margin-left: 8px;
  vertical-align: middle;
}

.work {
  margin: 4em 0;
}

.work__title {
  margin-bottom: 2em;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}

.work__desc {
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0 0 4em 0;
  max-width: 33em;
}

.site-link {
  color: #2F2F2F;
}

.work__project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 33em));
  grid-gap: 2em 1em;
}

.browser {
  border: 1px solid #F2F3F4;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.browser__head {
  display: grid;
  grid-template-columns: 8px 8px 8px;
  column-gap: 5px;
  padding: 0 8px;
  align-items: center;
  height: 24px;
  background: #F2F3F4;
}

.head-button {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #C1C5C8;
}

.viewport-img {
  display: block;
  max-width: 100%;
  height: auto;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom: 1px solid #F2F3F4;
}

.project-desc {
  display: block;
  color: #2F2F2F;
  font-size: 1rem;
  margin-top: 1em;
  text-decoration: none;
}

.footer {
  display: grid;
  justify-items: center;
  padding: 2em 1em;
}

.footer__author {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 16px;
  font-size: 0.75rem;
  align-self: center;
}

@media (min-width: 33em) {
  .header {
    grid-template-columns: [left-gutter] 1fr [content] 10fr [right-gutter] 1fr;
  }
  
  .main {
    grid-template-columns: [left-gutter] 1fr [content] 10fr [right-gutter] 1fr;
  }
  
  .profil {
    grid-template-areas:
      'name photo'
      'about photo';
    margin: 0 auto;
  }
  
  .profile__photo {
    display: inline-block;
    justify-self: end;
    align-self: start;
  }
  
  .profile__name {
    align-self: start;
    justify-self: start;
  }
  
  .profile__about {
    justify-self: start;
  }
}