@import url('https://rsms.me/inter/inter.css');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  color: #212121;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  min-height: 100vh;
  text-transform: lowercase;
}

.header {
  display: grid;
  grid-template-columns: [left-gutter] 1em [content] 10fr [right-gutter] 1em;
  padding: 2em 0;
}

.header__wrapper {
  grid-area: content;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 1em;
}

.header__logo {
  display: grid;
  align-items: center;
  font-size: 1.5rem;
  margin: 0;
}

.site-logo {
  color: #212121;
  font-family: acumin-pro, system-ui, sans-serif;
  text-decoration: none;
}

.header__nav {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 9em));
  justify-content: end;
  justify-items: end;
  font-weight: 500;
  align-items: center;
}

.nav-item {
  color: #212121;
  text-decoration: none;
  text-transform: lowercase;
}

.main {
  display: grid;
  grid-template-columns: [left-gutter] 1em [content] 10fr [right-gutter] 1em;
  padding: 5em 0;
}

.main__wrapper {
  grid-area: content;
}

.profile {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    'hello hello'
    'about about'
    'button none';
  grid-gap: 1.3em 2em;
}

.profile__hello {
  grid-area: hello;
  font-family: acumin-pro, system-ui, sans-serif;
  line-height: 1.3em;
  font-size: 2.4rem;
  margin: 0;
  letter-spacing: -1px;
  line-height: 2.3rem;
}

.profile__role {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1rem;
}

.profile__about {
  font-size: 1rem;
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.5em;
  grid-area: about;
  margin: 0;
  max-width: 30em;
  hyphens: auto;
  word-break: break-word;
}

.profile__button {
  grid-area: button;
  padding: 0 1em;
  border-radius: 4px;
  background-color: #212121;
  color: #fff;
  text-decoration: none;
  outline: none;
  height: 48px;
  display: grid;
  align-items: center;
}

.profile__button:hover {
  opacity: .9;
  transition: .3s opacity ease-out;
}

.profile__button:active {
  box-shadow: 0 0 0 1px #212121;
}

.work {
  margin: 8em 0;
}

.work__title {
  margin-bottom: 2em;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1rem;
}

.work__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 25em));
  grid-gap: 4em 2em;
}

.browser {
  border: 1px solid #e0e7eb;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.browser__head {
  display: grid;
  grid-template-columns: 8px 8px 8px;
  column-gap: 5px;
  padding: 0 8px;
  align-items: center;
  height: 24px;
  border-bottom: 1px solid #e0e7eb;
}

.browser__button {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #f7f7f7;
  border: 1px solid #e0e7eb;
}

.browser__img {
  display: block;
  max-width: 100%;
  height: auto;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.project__title {
  display: block;
  color: #212121;
  font-size: 1rem;
  margin-top: 10px;
  text-decoration: none;
}

.project__date {
  font-size: 0.8rem;
  color: #a7a7a7;
}

.footer {
  display: grid;
  justify-items: center;
  padding: 2.4375em 1em;
}

.footer__author {
  font-size: 1.16rem;
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
}

.footer p {
  font-size: 12px;
  margin: 0;
  letter-spacing: 1px;
}

@media (min-width: 35em) {
  .header {
    grid-template-columns: [left-gutter] 1fr [content] 10fr [right-gutter] 1fr;
  }
  
  .main {
    grid-template-columns: [left-gutter] 1fr [content] 10fr [right-gutter] 1fr;
  }
}

@media (min-width: 62.4375em) {
  .header {
    grid-template-columns: [left-gutter] 1fr [content] 52em [right-gutter] 1fr;
  }

  .main {
    grid-template-columns: [left-gutter] 1fr [content] 52em [right-gutter] 1fr;
  }
}