*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  color: #212121;
  margin: 0;
  text-transform: lowercase;
}

.header {
  display: grid;
  grid-template-columns: [left-gutter] 1em [content] 10fr [right-gutter] 1em;
  padding: 2em 0;
}

.header__wrapper {
  display: grid;
  grid-area: content;
  grid-template-columns: min-content 1fr;
  column-gap: 1em;
}

.main__wrapper {
  grid-area: content;
}

.header__logo {
  display: grid;
  align-items: center;
  font-size: 2.5rem;
  margin: 0;
}

.header__logo a {
  color: #212121;
  font-family: acumin-pro, system-ui, sans-serif;
  text-decoration: none;
  transform: rotate(-90deg) translate(-93px);
  transform-origin: left;
  position: absolute;
}

.header__logo a:hover {
  color: #6b6b6b;
}

.header__nav {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 9em));
  justify-content: end;
  justify-items: end;
  font-weight: 500;
  align-items: center;
}

.nav-item {
  color: #212121;
  text-decoration: none;
  text-transform: lowercase;
}

.main {
  display: grid;
  grid-template-columns: [left-gutter] 1em [content] 10fr [right-gutter] 1em;
  padding: 2em 0;
}

.profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.3em 2em;
}

.profile__hello {
  grid-area: 2 / 1 / 3 / 2;
  font-family: acumin-pro, system-ui, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  letter-spacing: -1px;
  line-height: 2.3rem;
}

.profile__hello span:first-child {
  display: inline-block;
  font-size: 2.46rem;
  transform: translateY(4px);
}

.profile__role {
  font-size: 2.46rem;
  font-weight: 400;
}

.profile__about {
  grid-area: 3 / 1 / 4 / 2;
  font-size: 1rem;
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.9em;
  margin: 0;
  max-width: 30em;
  hyphens: auto;
  word-break: break-word;
}

.profile__button {
  grid-area: 4 / 1 / 5 / 2;
  width: fit-content;
  padding: 0 1em;
  border-radius: 4px;
  background-color: #212121;
  color: #fff;
  text-decoration: none;
  outline: none;
  height: 48px;
  display: grid;
  align-items: center;
}

.profile__button:hover {
  opacity: .9;
  transition: .3s opacity ease-out;
}

.profile__button:active {
  box-shadow: 0 0 0 1px #212121;
}

.profile__illustr {
  grid-area: 1 / 1 / 2 / 2;
  width: min-content;
  align-self: center;
  justify-self: center;
}

.work {
  margin: 8em 0;
}

.work__title {
  margin-bottom: 2em;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1rem;
}

.work__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 25em));
  grid-gap: 4em 2em;
}

.browser {
  border: 1px solid rgb(33, 33, 33, .2);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.browser__head {
  display: grid;
  grid-template-columns: 10px 10px 10px;
  column-gap: 5px;
  padding: 0 8px;
  align-items: center;
  height: 24px;
  border-bottom: 1px solid rgb(33, 33, 33, .2);
}

.browser__button {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid rgb(33, 33, 33, .4);
}

.browser__img {
  display: block;
  max-width: 100%;
  height: auto;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.project__title {
  display: block;
  color: #212121;
  font-size: 1rem;
  margin-top: 10px;
  text-decoration: none;
}

.project__date {
  font-size: 0.8rem;
  color: #a7a7a7;
}

.footer {
  display: grid;
  justify-items: center;
  padding: 2.4375em 1em;
}

.footer__author {
  font-size: 1.16rem;
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
}

.footer__author a {
  color: #212121;
  text-decoration: none;
}

.footer p {
  font-size: 12px;
  margin: 0;
  letter-spacing: 1px;
}

@media (min-width: 35em) {
  .header {
    grid-template-columns: [left-gutter] 1fr [content] 10fr [right-gutter] 1fr;
  }
  
  .main {
    grid-template-columns: [left-gutter] 1fr [content] 10fr [right-gutter] 1fr;
  }
}

@media (min-width: 460px) {
  .header__logo {
    font-size: 1.5rem;
  }

  .header__logo a {
    transform: none;
    position: initial;
  }

  .profile__hello {
    line-height: 2.6rem;
  }

  .profile__role {
    font-size: 3rem;
  }

  .work__wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
  }

  .work__wrapper > div:nth-child(1) {
    grid-area: 1 / 1 / 3 / 4;
  }

  .work__wrapper > div:nth-child(2) {
    grid-area: 3 / 2 / 4 / 6;
  }

  .work__wrapper > div:nth-child(3) {
    grid-area: 4 / 1 / 5 / 3;
  }

  .work__wrapper > div:nth-child(4) {
    grid-area: 5 / 2 / 6 / 5;
  }

  .profile {
    grid-template-columns: 2fr 1fr;
  }

  .profile__illustr {
    grid-area: 1 / 2 / 4 / 3;
    justify-self: left;
  }
}

@media (min-width: 62.4375em) {
  .header {
    grid-template-columns: [left-gutter] 1fr [content] 52em [right-gutter] 1fr;
  }

  .main {
    grid-template-columns: [left-gutter] 1fr [content] 52em [right-gutter] 1fr;
  }
}